:host {
  display: flex;
  flex-direction: column;

  .rooms {
    display: flex;
    flex-grow: 1;
  }

  .room-container {
    display: flex;
    width: 4rem;
    height: 4rem;
    background-color: var(--background-color-light-grey);
    border-radius: 4px;
    padding: 1rem;
    box-sizing: content-box;
  }
}
