:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .no-verify-container {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 40rem;
    border-radius: 4px;
    position: relative;
  }

  .primary-button {
    margin-top: 1rem;
    color: var(--background-color-dark-grey);
    background-color: white;
  }
}
