:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 1rem;

  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ion-toggle {
    --background: #fff;
    --background-checked: var(--green-color);

    // --handle-background: #7a49a5;
    // --handle-background-checked: #000;
  }
}
