:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 4rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--background-color-dark-grey);
  }

  .result {
    flex-grow: 1;
    width: 100%;
    overflow: scroll;
  }

  .result-item,
  .control-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    box-sizing: content-box;
  }

  .control-bar {
    padding: 0;
    background: var(--ion-color-dark);
    border-bottom: 1px solid black;

    .logo {
      margin-left: 0;
    }
  }

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    flex-grow: 1;
    padding-right: 3rem;

    .info-top {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-bottom {
      color: var(--light-grey-color);
    }
  }
  .logo {
    height: 100%;
    object-fit: contain;
    margin: 0 1rem;
  }

}
mat-progress-bar {
  height: 3px !important;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: grey;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: white;
}
