:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  align-items: center;

  .chevron {
    position: absolute;
    left: 1rem;
  }

  .title {
    font-family: "Circular-medium";
    font-size: 1.7rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .devices {
    overflow: scroll;
    flex-grow: 1;

    .device-name {
      margin: 1rem;
      font-size: 1.2rem;
    }
  }

  .sub-title {
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-family: "Circular-medium";
  }

  .primary-button {
    width: fit-content;
    text-transform: none;
    background: var(--green-color);
    border: none;

    &.bottom {
      margin-bottom: 3rem;
    }
  }

  .control-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    .play-pause-container {
      display: flex;
      flex-direction: column;
    }

    .play-pause {
      height: 3rem;
      margin: 0;
    }

    .next-previous {
      height: 1.5rem;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
